include LICENSE README.rst src/data/BostonHousing/housing.data src/data/WineQuality/winequality-red.csv src/data/WineQuality/winequality-white.csv requirements.txt config.ini
recursive-include doc conf.py *.rst *.ico *.png

